.sc-icon{
	background-position: center center !important;
    background-size: 50px auto !important;
    background-repeat: no-repeat !important;
}
.sc-icon-text-block{
	background-image: url('../icons/text-block.png') !important;
}

.sc-icon-liner{
	background-image: url('../icons/minus.png') !important;
}

.sc-icon-button{
	background-image: url('../icons/button.png') !important;
}
.sc-icon-feature-box{
	background-image: url('../icons/feature-box.png') !important;	
}

